@font-face {
  font-family: "Gotham";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("GothamPro.woff2") format("woff2"), url("GothamPro.woff") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("GothamPro-Black.woff2") format("woff2"), url("GothamPro-Black.woff") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("GothamPro-Bold.woff2") format("woff2"), url("GothamPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("GothamPro-Medium.woff2") format("woff2"), url("GothamPro-Medium.woff") format("woff");
}

@font-face {
  font-family: "MyriadPro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("MyriadPro-Regular.woff2") format("woff2"), url("MyriadPro-Regular.woff") format("woff");
}

body {
  background-color: #212327;
  font-family: "MyriadPro", Arial, Helvetica, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  line-height: 1.4;
  color: #dbdbdb;
}

main {
  margin: 55px 5px 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* header start */
header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% auto 15%;
      grid-template-columns: 15% auto 15%;
  position: fixed;
  height: 45px;
  background-color: #92b9db;
  z-index: 9999;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 1px 10px;
          box-shadow: 0px 1px 10px;
}

header .logo {
  width: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2px auto 0;
}

header ul {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  width: 150px;
  height: 45px;
  display: block;
  color: #40345c;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
}

header ul li a span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: tomato;
  z-index: -1;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

header ul li a span:nth-child(1) {
  left: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

header ul li a span:nth-child(2) {
  left: 25%;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

header ul li a span:nth-child(3) {
  left: 50%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

header ul li a span:nth-child(4) {
  left: 75%;
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

header ul li a:hover {
  color: #fff;
  text-decoration: none;
}

header ul li a:hover span {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .login a {
  color: #000;
  text-decoration: none;
}

header .login a:hover {
  color: #0f58e0;
  text-decoration: none;
}

header .login span {
  color: #000;
}

/* header end */
/* team start */
.team {
  text-align: center;
}

.team .quote {
  text-align: right;
  font-weight: bold;
  margin-right: 5%;
}

.team .quote i {
  display: block;
}

.team .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 0;
}

.team .members div {
  padding: 0 10px;
}

.team .members img {
  width: 50%;
}

.team h2 {
  font-size: 1.2em;
  text-align: center;
  margin: 0;
}

.team .contact h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.team .contact a {
  color: #fff;
}

.team .contact a:hover {
  color: #3b3bb8;
}

/* team end */
/* map block start */
#chartdiv {
  width: 100%;
  height: 450px;
}

.top-map-block {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% auto 15%;
      grid-template-columns: 15% auto 15%;
}

.top-map-block .widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  position: fixed;
  width: 15%;
}

.top-map-block .widgets .pdf {
  padding: 5px 2px;
}

.top-map-block .widgets .pdf a {
  text-align: center;
  width: 100%;
  display: block;
  color: #fff;
}

.top-map-block .widgets .pdf a:hover {
  color: blue;
}

.top-map-block .widgets .pdf a i {
  text-decoration: none;
  margin-right: 5px;
}

.top-map-block .widgets div {
  display: block;
  height: 100%;
  border: 1px solid rgba(58, 57, 57, 0.411);
  margin: 5px 10px;
  padding: 5px;
  position: relative;
}

.top-map-block .widgets div h3 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
}

.top-map-block .widgets div .minimized {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.top-map-block .widgets div .minimized:hover {
  outline: 3px solid #940855;
}

.top-map-block .widgets .big-block {
  height: 200%;
}

.top-map-block .widgets img {
  display: block;
  width: 100%;
  height: 100%;
}

.bottom-map-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% auto 15%;
      grid-template-columns: 15% auto 15%;
  height: 17vh;
}

.bottom-map-block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 5px 10px;
  padding: 5px;
}

.iksweb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: #354251;
  background: #0cfaee;
  border-radius: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: 1px solid #354251;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 13px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 13px 7px rgba(0, 0, 0, 0.75);
  padding: 0 3px;
}

.iksweb span {
  text-align: center;
  width: 100%;
}

.iksweb:hover {
  background: #91d0f2;
  color: #ffffff;
  border: 1px solid #354251;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.methodology h1 {
  text-align: center;
}

.methodology img {
  display: block;
  margin: 0 auto;
}

.methodology p {
  text-indent: 1.5em;
  text-align: justify;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.about {
  margin: 20px 0 10px;
}

.about h1 {
  text-align: center;
}

/* scale img */
#magnify {
  display: none;
  position: fixed;
  width: 60%;
  max-width: 800px;
  height: auto;
  z-index: 9999;
  top: 40px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: block;
}

#magnify img {
  width: 100%;
}

/* fade background */
#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}

/* close buton */
#close-popup {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #afafaf;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

#close-popup i {
  width: 30px;
  height: 30px;
  background: url(https://codernote.ru/files/cross.png) no-repeat center center;
  background-size: 16px 16px;
  display: block;
}

@-webkit-keyframes rota {
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rota {
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#close-popup:hover {
  -webkit-animation: rota 4s infinite normal;
          animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*# sourceMappingURL=style.css.map */